# System Files
.DS_Store
Thumbs.db

# Environment
env/
.env

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# aux
*.csv
*.rdf
*.ris
*.pyc
logs/